p{
    color:red;
    font-size: 36px;
}

li{
  color:lightgoldenrodyellow;
  font-size: 24px;
}

.headings{/*class for headings*/
    color:white;
    font-size: 48px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: middle;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }

  .navbar {
    position: fixed;
    top: 0;
    z-index: 1030; /*this ensures that the nav bar doesn't get covered*/
 }
  
  /*change the color of links on hover*/
  .navbar a:hover {
    background-color: #634ba4;
    color: black;
  }
  /*add a color to the active/current link*/
  .navbar a.active {
    background-color: #634ba4;
    color: white;
  }
